.catalog{
  @include font-normal();
  font-size: 13px;
  line-height: 30px;
  width: auto;
  text-align: center;
  @media (min-width: $tablet-width){
    font-size: 15px;
  }


}
.catalog__heading{
  position: relative;
  display: block;
  text-align: center;
  background-color: $blocks-gray;
  height: 103px;
  padding-top: 80px;
  width: auto;
  margin: 0;
  position: relative;
  @include heading-mobile();

  @media (min-width: $tablet-width){
    @include heading-tablet();
    height: 226px;
    padding-top: 101px;
  }

  @media (min-width: $desktop-width){
    @include heading-desktop();
  }
}
