.header {
  background-color: $white;
  width: auto;
  @media (min-width: $tablet-width) {
    height: 88px;
    z-index:100;
  }

}

.header__logo-mobile {
  height: 35px;
  min-width: 86px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  @media (min-width: $tablet-width) {
    display: none;
  }
}


.header__wrapper {
  height: inherit;
  display: flex;
  align-items: center;
  position: relative;
  width:auto;
  height: 79px;
  border-bottom: 2px solid #ECECEC ;
  padding-right: 30px;
  @media (min-width: $tablet-width) {
    display: none;
  }
}
 //Кнопка открытия мобильного меню
 .header__button-menu {
  position: relative;
  height: 14px;
  width: 20px;
  background-color: transparent;
  border: none;
  right: 0;
  margin-left: auto;
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.header__button-menu-open::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 2px;
  background-color: black;
  box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
}

 //Кнопка закрытия мобильного меню
 .header__button-menu-close {
  position: relative;
  height: 14px;
  width: 20px;
  background-color: transparent;
  border: none;
  right: 0;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.header__button-menu-close::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 20px;
  height: 2px;
  background-color: black;
  transform: rotate(45deg)
}

.header__button-menu-close::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 20px;
  height: 2px;
  background-color: black;
  transform: rotate(-45deg)
}

